.contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 1px;
	min-width: 240px;
	max-width: 240px;
	font-style: normal;
}

.contacts a {
	display: inline;
}

.contacts__phone,
.contacts__mail {
	max-width: fit-content;
	border-bottom: 1px solid black;
}

.contacts__phone {
	margin-bottom: 3px;
	letter-spacing: 0.2px;
}

.contacts__mail {
	letter-spacing: 0.2px;
}

.contacts__address {
	line-height: 24px;
	letter-spacing: 0.1px;
}
