.footer {
	display: grid;
	column-gap: 160px;
	margin: 180px 0 88px;
	padding: 0 50px;
	grid-template: min-content / repeat(3, 1fr);
}

.footer__menu-list {
	display: flex;
	flex-direction: column;
	row-gap: 0.6px;
	min-width: max-content;
	text-align: center;
	list-style: none;
}

.footer__social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 48px;
	list-style: none;
}

.footer__social-list-item {
	width: 48px;
}

.footer__social-icon {
	width: 100%;
}
