.header {
	display: grid;
	align-items: center;
	margin: 92px 0 92px;
	padding: 0 50px;
	letter-spacing: 0.1px;
	grid-template: min-content / 1fr min-content 1fr;
}

.header__menu-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 33px;
	width: max-content;
	list-style: circle;
}

.header__menu-list-item_no-bullit {
	list-style: none;
}

.header__logo {
	min-width: 136px;
}

.header__contacts {
	justify-self: end;
}
