@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.woff) format('woff2'), url(../fonts/Raleway-Regular.woff) format('woff');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Bold.woff2) format('woff2'), url(../fonts/Raleway-Bold.woff) format('woff');
	font-weight: bold;
	font-display: swap;
}
